{% assign all_components = page.metafields.custom.all_components.value %}

{% for component in all_components %}
  <div class="component">
    <h3>{{ component.name }}</h3>
  </div>

  {% assign component_variants = component.component_variants.value %}

  {% for variants in component_variants %}
    <h5>{{ variants.title }}</h5>
    <pre>
        <code>{{ variants.code_snippet | escape }}</code>
    </pre>
  {% endfor %}
{% endfor %}
