{% assign all_components = page.metafields.custom.all_components.value %}

{% for component in all_components %}
  <div class="component">
    <h3>{{ component.name }}</h3>
  </div>
{% endfor %}
